a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items:center;
}

nav {
    font-family: monospace;
}

ul {
background: darkorange;
list-style: none;
height:inherit;
margin: 0;
padding-left: 0;
display: block;
}

li {
color: #fff;
background: darkorange;
display: block;
float: left;
height:inherit;
position: relative;
padding-left: 15px;
padding-right: 15px;
text-decoration: none;
transition-duration: 0.5s;
height: 100%;
}

ul li a {
    color: #fff;
}

li:hover,
li:focus-within {
background: red;
cursor: pointer;
}

li:focus-within a {
outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
clear: both;
width: 100%;
}

ul li ul li ul{
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 100%;
    top:0;
    display: none;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus,
ul li ul li ul:hover,
ul li ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li ul li {
clear: both;
width: 100%;
}
